[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "freetype-windows-binaries"]
	path = freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "Hydrogenium"]
	path = Hydrogenium
	url = https://github.com/xhsu/Hydrogenium
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "ziplib"]
	path = ziplib
	url = https://bitbucket.org/wbenny/ziplib
